
<div class="flex flex-row justify-between my-4">
<h2 class="text-5 font-bold">Product List</h2>
<button class="bg-blue-300 rounded rounded-4 py-2 px-3 text-white font-bold">
    <a routerLink="/products/new">Add Product</a>
</button>
</div>

<table class="table shadow-sm w-[600px]">
    <thead class="p-5 bg-blue-200">
        <tr>
            <th>Name</th>
            <th>Price / Currency</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" class="p-3">
            <td class="p-3">{{ product.name }}</td>
            <td class="p-3 text-center">{{ product.price | currency }}</td>
            <!-- <td class="p-3">{{ product.description }}</td> -->
            <td class="p-3 text-center">
                <button (click)="showProductDetail(product)" class="bg-blue-500 rounded rounded-4 py-2 px-3 text-white font-bold hover:cursor-pointer">
                    Details
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="selectedProduct" class="bg-black/50 h-full w-full flex flex-col justify-center items-center absolute top-0 left-0">
    <div class="w-100 h-50 bg-white rounded-md shadow-md p-4 flex flex-col items-center">
        <h1 class="font-bold text-[20px] text-blue-400 pb-4">Detail of <em>{{ selectedProduct.name}}</em></h1>
        <div class="border border-gray-200 rounded-md w-full p-3">
            {{ selectedProduct.description }}
        </div>
        <div class="flex flex-row justify-end items-end mt-4 w-full">
            <button (click)="hideProductDetail()" class="bg-gray-500 rounded rounded-4 py-2 px-3 text-white font-bold hover:cursor-pointer">
                Close
            </button>
        </div>
    </div>
</div>